@charset "utf-8";
/* CSS Document */


.para{
	
	padding: 5px 5px 5px;
	border:medium;
	border-color:green;
	text-align: justify;
	border-width:10px;
	}

.intro{

  text-align:justify; 

}	
	


#btn{

background-color:#76b700;
font-family: "Script MT Bold","Blessed Day","elegant" ;
font-size:1.5em;
}

#message {
	border:thick;
	background-color:#7FDF55;
	border-color:#FF0000;
	font-family: "Script MT Bold", "Actor", "Myriad Pro", Arial, Helvetica, sans-serif;
    font-size:15px;
	}	
	
#reservations{
	background-image:url(images/formbackground.png);
	
}
#saying{
	font-family:"Script MT Bold","Blessed Day","elegant";
	-moz-font-size:1.5em;
	-webkit-font-size:1.8em;
}

ul.gallery li {
float: left;
margin:  10px;
padding: 10px;
border: 1px solid #ddd;
list-style: none;
display: inline;
}
ul.gallery li a img {
float: left;
height:auto;
width:400px;

}
		ul.gallery li a:hover img {
-webkit-transform: scale(1.5);
-moz-transform: scale(1.5);
-o-transform: scale(1.5);
transform: scale(1.5);
}

ul.gallery li a:hover img {
-webkit-transform: scale(1.5);
-moz-transform: scale(1.5);
-o-transform: scale(1.5);
transform: scale(1.5);
-webkit-box-shadow: 4px 4px 10px rgba(0, 0, 0, 0.5);
-moz-box-shadow: 4px 4px 10px rgba(0, 0, 0, 0.5);
box-shadow: 4px 4px 10px rgba(0, 0, 0, 0.5);
}

ul.gallery li {
float: left;
margin: 0 40px;
padding: 10px;
border: 1px solid #ddd;
list-style: none;
}
ul.gallery li a img {
float: left;
width: 200px;
-webkit-transition: -webkit-transform 0.2s ease-in-out;
-moz-transition: -moz-transform 0.2s ease-in-out;
-o-transition:-o-transform 0.2s ease-in-out;
transition: transform 0.2s ease-in-out;
}

ul.gallery li a:hover img {
-webkit-transform: scale(1.5);
-moz-transform: scale(1.5);
-o-transform: scale(1.5);
transform: scale(1.5);
-webkit-box-shadow: 4px 4px 10px rgba(0, 0, 0, 0.5);
-moz-box-shadow: 4px 4px 10px rgba(0, 0, 0, 0.5);
box-shadow: 4px 4px 10px rgba(0, 0, 0, 0.5);
}

ul.gallery li a:hover img {
-webkit-transform: scale(1.5) rotate(-10deg);
-moz-transform: scale(1.5) rotate(-10deg);
-o-transform: scale(1.5) rotate(-10deg);
transform: scale(1.5) rotate(-10deg);
-webkit-box-shadow: 4px 4px 10px rgba(0, 0, 0, 0.5);
-moz-box-shadow: 4px 4px 10px rgba(0, 0, 0, 0.5);
box-shadow: 4px 4px 10px rgba(0, 0, 0, 0.5);
}

ul#ticker {
	width: 472px;
	height: 318px;
	overflow: hidden;
}

ul#ticker li {
	width: 472px;
	height: 318px;
	padding: 0px;
	border-bottom: 1px dashed #ccc;
}

ul#ticker li a {
	color: #666;
}

ul#ticker li span {
	display: block;
	color: #06C;
}