* {
	background-color: #FAFAFA;
	color: #666;
	font: 13px Tahoma;
	cursor: default;
}

div#content a {
	text-decoration: none;
	outline: none;
	color: #06C;
}

div#content {
	padding-top: 20px;
}
div#content a:hover {
	text-decoration: underline;
}	
	

div#content div.block {
	margin-bottom: 20px;
}

div#info {
	padding-bottom: 30px;	
}

div#info.ok {
	border-left-color: #ACD083;
}

div#info.otravez {
	border-left-color: #DC7873;
}

div#info ul {
	margin-top: 10px;
	list-style-type: none;
}

div#info ul li {
	float: left;
	margin-right: 10px;
}

div#info ul li a:hover img {
	border: 1px solid #666;
}

div#info ul li img {
	border: 1px solid #ccc;
}

ul#ticker {
	width: 412px;
	height: 320px;
	overflow: hidden;
}

ul#ticker li {
	width: 412px;
	height: 318px;
	padding: 10px;
	border-bottom: 1px dashed #ccc;
}

ul#ticker li a {
	color: #666;
}

ul#ticker li span {
	display: block;
	color: #06C;
}